$font: Lato, Arial, sans-serif;
$font-size: 10px;

$headerHeight: 6rem;

$primary-black: #000;
$primary-white: #fff;
$main-color: #EA5959;
$remove-btn-hover: #c03f3f;
$category-text-color: #525252;
$todo-text-color: #5A5A5A;
$input-bg: #F3F3F3;
$input-placeholder-color: #B5B5B5;
$list-border-color: #D8D8D8;

$td: 0.3s;
$tf: ease;
