@import './variables';

* {
  box-sizing: border-box;
}

html {
  font-family: $font;
  font-size: $font-size;
}

body,
.root {
  height: 100%;
}

.container {
  margin: 0 auto;
  max-width: 144rem;
  padding: 0 2rem;
}
