@import '../../styles/variables';

.app {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $main-color;

  &__container {
    display: flex;
    width: 65%;
    height: 80%;
    background-color: $primary-white;
    box-shadow: 0 1rem 1rem rgba($color: $primary-black, $alpha: 0.25);
    border-radius: 0.8rem;
  }

  &__categories {
    flex-basis: 21.4%;
  }

  &__tasks {
    padding: 3rem 4.3rem 3rem 5.3rem;
    flex-basis: 78.6%;
  }

  &__title {
    padding-bottom: 2.5rem;
    font-size: 3.1rem;
    font-weight: 700;
  }
}
