@import '/src/styles/variables';
@import '/src/styles/keyframes';

.todo {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1.8rem;
  animation: fade-in $td linear;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__checkbox-input {
    display: none;
  }

  &__checkbox-input:checked + &__checkbox-label &__checkbox-svg {
    height: 2.4rem;
    animation: draw-checkbox ease-in-out 0.2s forwards;
  }

  &__checkbox-label {
    color: $main-color;
    line-height: 4rem;
    cursor: pointer;

    position: relative;

    &:after {
      content: "";
      height: 2.8rem;
      width: 2.8rem;
      float: left;
      border: 0.1rem solid $main-color;
      border-radius: 0.8rem;
    }
  }

  &__checkbox-svg {
    height: 0;
    stroke: $main-color;
    stroke-width: 0.2rem;
    width: 2rem;
    position: absolute;
    left: -2.4rem;
    top: 0.3rem;
    stroke-dasharray: 33;
  }

  &__title {
    line-height: 2.2rem;
    font-size: 1.8rem;
    font-weight: 400;
    color: $todo-text-color;
  }

  &__category {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 11.5rem;
    padding: 0.5rem 0;
    background-color: $main-color;
    border: none;
    border-radius: 0.4rem;
    line-height: 1.4rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: $primary-white;
    cursor: pointer;
    transition: background-color $td $tf;

    &:hover {
      background-color: $remove-btn-hover;
    }
  }

  &__remove-todo {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}
